/**
    Structure styles
*/
html {
    scroll-behavior: smooth;
}
nav {
        width: 100%;
        padding-right: 0%;
        display: flex;
//        height: 50px;
        margin-bottom: 2%;
        justify-content: center;
        flex-direction: column;
        @include respond-to-above( xs-screens )
        {     
            width: 65%;
        }
        @include respond-to( medium-screens )
        {
            width: 70%;
            padding-right: 5%;
            margin-top: 2%;
        }  
/*        @include respond-to( small-screens )
        {
            width: 100%;
            padding-right: 0%;
            display: flex;
            height: 50px;
            margin-bottom: 2%;
            justify-content: center;
        }  */
        @include respond-to( large-screens )
        {
            height: 70px;
            width: 65%;
            padding-right: 10%;
            margin-top: 1%;
        }  
        label {
            width: 100%;
            text-align: center;
            font-size: 1.1rem;
            vertical-align: bottom;
            @include respond-to-above( xs-screens )
            {
                display: none;
            }
        } 
        input[type="checkbox"] {
            display: none;
        } 
        input[type="checkbox"] + ul {
            height: 0;
            overflow: hidden;
            @include respond-to-above( xs-screens )
            {     
                height: auto;
            }
        }    
        input[type="checkbox"]:checked + ul {
            height: auto;
        }    
        
        ul {
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            li {
                width: 200px;
                list-style: none;
                a {
                    text-decoration: none;
                    color: $SFPink;
                    font-size: 1.2rem;
                    padding: 0 7px;
                    text-align: left;
                }
            }
            @include respond-to-above( xs-screens )
            {
                flex-direction: row;
                padding: 0;
                flex-wrap: wrap;
                li {
                    list-style: none;
                    width: auto;
                    a {
                        border-right: 1px solid $SFPink;
                    }
    
                }
                li:last-child a {
                    border-right: none;
                }
            }
            @include respond-to( large-screens )
            {
                justify-content: right;
            }
        }
                 
/*        ul {
            float: right;
            list-style: none;
            margin: 0;
            li {
                float: left;
                list-style: none;
                a {
                    text-decoration: none;
                    color: $SFPink;
                    font-size: 1.2rem;
                    padding: 0 7px;
                    border-right: 1px solid $SFPink;
                }

            }
            li:last-child a {
                border-right: none;
            }
        }*/
}
.toTop {
    text-align: right;
    a {
        color: $SFGreen;
        text-decoration: none;
        font-size: 1.3rem;
    }
}