/**
    Structure styles
*/
html {
    scroll-behavior: smooth;
}
nav {
        height: 70px;
        width: 65%;
        padding-right: 10%;
        @include respond-to( medium-screens )
        {
            width: 70%;
            padding-right: 5%
        }          
        ul {
            float: right;
            list-style: none;
            li {
                float: left;
                list-style: none;
                a {
                    text-decoration: none;
                    color: $SFPink;
                    font-size: 1.2rem;
                    padding: 0 7px;
                    border-right: 1px solid $SFPink;
                }

            }
            li:last-child a {
                border-right: none;
            }
        }
}
.toTop {
    text-align: right;
    a {
        color: $SFGreen;
        text-decoration: none;
        font-size: 1.3vw;
    }
}