/**
    Global styles
*/
html {
  padding: 0;
  margin: 0;
}

/**
    Colours
*/
/**
	Fonts styles
*/
body {
  font-size: 1.5rem;
  font-family: "Gentium Basic", serif;
  line-height: 2.1rem;
  color: #403c3b;
}

/**
	Grid values
*/
/**
	Mixins
*/
/* Usage - Stick into the top of your SCSS sheet and @include where needed for cross browser transitions. 

.class {
		 @include transition($transition-property, $transition-time, $method);
}

$transition-property = the property you want to transition
$transition-time = seconds you want the transition to last
$method = how you want it to transition - e.g. ease-in-out

Usage example;

-------------

.item {
		@include transition(padding, 1s, ease-in-out);
}

-------------

*/
/**
	Calculate the width of <main> based on the aside and gutter widths
*/
/**
	Set of mixins from https://gist.github.com/garyharan/957284
*/
/**
    Elements accumulated
*/
/**
    Structure styles
*/
body {
  padding: 0;
  margin: 0;
}

/**
    Heading styles
*/
h1 {
  color: #a9caad;
  font-family: "Fugaz One", cursive;
  font-size: 1.8rem;
  width: 100%;
  padding-left: 0%;
  text-align: center;
  margin-bottom: 0;
  /*	@include respond-to( small-screens )
  	{
          width: 100%;
          padding-left: 0%;
          text-align: center;
          margin-bottom: 0;
      }  */
}
@media only screen and (min-width: 880px) and (max-width: 1149px) {
  h1 {
    width: 35%;
    padding-left: 5%;
    font-size: 2.8rem;
    margin-bottom: 4%;
  }
}
@media only screen and (min-width: 1150px) {
  h1 {
    width: 25%;
    padding-left: 10%;
    font-size: 2.8rem;
  }
}

.voiceover h2 {
  min-height: 70px;
  padding: 0;
  font-size: 1.5vw;
  color: #403c3b;
}

/*
@import "partials/objects.grid";
@import "partials/objects.wrappers";*/
/*
@import "partials/elements.headings";
@import "partials/elements.text";
*/
/**
    Components accumulated
*/
/**
    Sections style
*/
section {
  padding: 3% 5%;
}
section.opening {
  background-color: #403c3b;
}
@media only screen and (min-width: 880px) and (max-width: 1149px) {
  section.opening {
    height: 400px;
    padding: 0;
  }
}
section.testimonial {
  background-color: #ea7c97;
}
section.voiceover .vo-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
@media only screen and (min-width: 880px) and (max-width: 1149px) {
  section.voiceover .vo-wrapper {
    width: 100%;
  }
}

/**
    Structure styles
*/
html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  padding-right: 0%;
  display: flex;
  height: 50px;
  margin-bottom: 2%;
  justify-content: center;
  /*        @include respond-to( small-screens )
          {
              width: 100%;
              padding-right: 0%;
              display: flex;
              height: 50px;
              margin-bottom: 2%;
              justify-content: center;
          }  */
}
@media only screen and (min-width: 880px) and (max-width: 1149px) {
  nav {
    width: 70%;
    padding-right: 5%;
    margin-top: 2%;
  }
}
@media only screen and (min-width: 1150px) {
  nav {
    height: 70px;
    width: 65%;
    padding-right: 10%;
    margin-top: 1%;
  }
}
nav ul {
  float: right;
  list-style: none;
}
nav ul li {
  float: left;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #ea7c97;
  font-size: 1.2rem;
  padding: 0 7px;
  border-right: 1px solid #ea7c97;
}
nav ul li:last-child a {
  border-right: none;
}

.toTop {
  text-align: right;
}
.toTop a {
  color: #a9caad;
  text-decoration: none;
  font-size: 1.3vw;
}

/**
    Header styles
*/
header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /*    @include respond-to( small-screens )
      {
          flex-direction: column;
          justify-content: center;
      }   */
}
@media only screen and (min-width: 880px) and (max-width: 1149px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1150px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/**
	Article styles
*/
article {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 880px) and (max-width: 1149px) {
  article {
    width: 90%;
  }
}
@media only screen and (min-width: 1150px) {
  article {
    width: 80%;
  }
}

.opening article {
  background-color: #403c3b;
  height: 100%;
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 879px) {
  .opening article {
    background: #403c3b url(../img/sarahford.png) no-repeat bottom left;
    background-size: contain;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  .opening article p {
    margin-left: 30%;
  }
}
@media only screen and (min-width: 880px) and (max-width: 1149px) {
  .opening article {
    background: #403c3b url(../img/sarahford.png) no-repeat bottom left;
    background-size: contain;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  .opening article p {
    margin-left: 35%;
  }
}
@media only screen and (min-width: 1150px) {
  .opening article {
    background: #403c3b url(../img/sarahford.png) no-repeat bottom left;
    background-size: contain;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  .opening article p {
    margin-left: 35%;
  }
}
.testimonial article {
  color: white;
  font-size: 1.3vw;
  text-align: center;
}

.voiceover article {
  width: 40%;
}
.voiceover article iframe {
  max-width: 100%;
}

.contact article {
  width: 50%;
  margin: 0 auto;
}

/**
    Footer styles
*/
footer {
  background-color: #a9caad;
}

/**
 *  Forms styles
 */
.wpcf7 {
  width: 100%;
  margin: 0 auto;
}
.wpcf7 input {
  height: 1.5vw;
  font-size: 1.3vw;
}
.wpcf7 input.wpcf7-submit {
  height: 2vw;
  font-size: 1.3vw;
  color: #403c3b;
  background-color: #ea7c97;
  border: 0;
}
.wpcf7 textarea {
  width: 63%;
}

/* 
#contactform2 {
    .wdform_column {
        padding-right: 0!important;
        border-spacing: 0;
    }
    .wdform-label {
        color: $SFPink;
        font-family: $bodyFamily;
    }
    .mini_label {
        color: $SFPink;
        font-family: $bodyFamily;
        font-size: 1.0rem;
    }
}
/*
#mc_embed_signup {
    color: $SPPDarkBlue;
}
.landing-page-content {
    width: 50%;
    margin: 0 auto;
    .signup {
        p {
            font-style: italic;
            font-size: 1.3rem;
            line-height: 2.5rem;
        }
        .indicates-required {
            text-align: right;
            font-size: 1.0rem;
            font-style: italic;
            font-weight: bold;
        }
        .mc-field-group {
            position: relative;
            label {
                display: block;
                margin-top: 20px;
                span{
                    position: absolute;
                    top: 33px;
                    right: 8px;
                    color: #ff0000
                }
            }
            input {
                display: block;
                width: 100%;
                padding: 8px 0;
                text-indent: 2%;  
            }
        }
        input[type="submit"] {
            background-color: $SPPDarkBlue;
            border-color: $SPPDarkBlue;
        }
    }
}*/
/*
@import "partials/components.header";
@import "partials/components.footer";
@import "partials/components.site-nav";
@import "partials/components.articles";
@import "partials/components.buttons";
@import "partials/components.forms";

*/
