/**
	Fonts styles
*/
$bodyFamily: 	'Varela', serif;
$headingFamily:	'Philosopher', cursive;

body {
	font-size: 1.5rem; //87.5%;
	font-family: $bodyFamily;
	line-height: 2.1rem; //1.8rem;
	color: $SFGrey;
}