/**
    Heading styles
*/
h1 {
    color: $SFGreen;
    font-family: $headingFamily;
    font-size: 1.8rem;
    width: 100%;
    padding-left: 0%;
    text-align: center;
    margin-bottom: 0;  
	@include respond-to( medium-screens )
	{
        width: 35%;
        padding-left: 5%;
        font-size: 2.8rem;
        margin-bottom: 4%;
    }    
/*	@include respond-to( small-screens )
	{
        width: 100%;
        padding-left: 0%;
        text-align: center;
        margin-bottom: 0;
    }  */
	@include respond-to( large-screens )
	{
        width: 25%;
        padding-left: 10%;
        font-size: 2.8rem;
    }  
    @include respond-to-above( xs-screens )
    {
        width: 35%;
    }     
   
}
.voiceover h2 {
    min-height: 70px;
    padding: 0;
    font-size: 1.5vw;
    color: $SFGrey;
}